In [1]:
import pandas as pd # the pd is by convention

In [5]:
chase = pd.read_csv('/Users/owner/Downloads/Chase0166_Activity_20210321.CSV')
chase.head()
chase.columns

Index(['Details', 'Posting Date', 'Description', 'Amount', 'Type', 'Balance',
       'Check or Slip #'],
      dtype='object')

In [6]:
chase.head()

,Details,Posting Date,Description,Amount,Type,Balance,Check or Slip #
DEBIT,03/19/2021,WINCO FOODS #1 110 E M Boise ID 218415 0...,-16.28,DEBIT_CARD,7534.76,NaN,NaN
DEBIT,03/19/2021,PAYETTE BREWING COMPANY BOISE ID 0...,-6.20,DEBIT_CARD,7551.04,NaN,NaN
DEBIT,03/19/2021,PAYETTE BREWING COMPANY BOISE ID 0...,-6.20,DEBIT_CARD,7557.24,NaN,NaN
CREDIT,03/19/2021,BOISE STATE UNIV DIR DEP PP...,903.33,ACH_CREDIT,7563.44,NaN,NaN
DEBIT,03/18/2021,TRADER JOE'S #360 BOISE ID 220328 0...,-19.22,DEBIT_CARD,6660.11,NaN,NaN